toolbarview > scrolledwindow > listview {
  background-color: inherit;
  color: inherit;
}

toolbarview > scrolledwindow > listview > * {
  padding: 0;
}

gridview {
  padding: 12px;
  background-color: inherit;
  color: inherit;
}

gridview > * {
  padding: 6px;
}

listview {
  background-color: inherit;
  color: inherit;
}

listview > header:first-child {
  padding: 0;
}

artcontainer {
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3), 0px 2px 12px rgba(0,0,0,0.15), 0px 6px 32px rgba(0,0,0,0.1);
}

.queue-button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
  min-height: 18px;
}
